body{ 
    background-color: black;
} 
button {
    font-size: 20px;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;}
    
h1 {
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}